body {
    font-family: "Montserrat";
    font-weight: 400;
}

#title {
    background-color: #ff4c68;
    color: white;
}

.container-fluid {
    padding: 3% 15% 0;
    height: 560px;
}

h1 {
    font-family: "Montserrat";
    font-weight: 900;
    size: 3rem;
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 2.5rem;
}

.nav-item {
    padding:0 18px ;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Monserrat";
    font-weight: 300;
}

/* Downlaod button */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: relative;
    left: 30%;
}

/* features */

#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
    /* z-index: 1; */
}

.features-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonials */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }

    #features {
        position: static;
    }

    .container-fluid {
        height: auto;
        padding-bottom: 5%;
    }
}

/* Call To Action */

#cta {
    background-color: #ff4c68;
    color: white;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

/* footer */

#footer {
    background-color: white;
    text-align: center;
    padding: 7% 15%;
}

.social-media-icons {
    margin: 20px 10px;
}